.site-footer {
  position: relative;
  margin-top: 100px;
}

.wave {
  width: 100%;
  position: absolute;
  bottom: -20px;
  z-index: -2;

  svg {
    fill: url(#wave-gradient);
    // fill: linear-gradient(to right, var(--color-lime-500), var(--color-green-700));
  }
}

.social-links {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--size-2);

  h1 {
    text-align: center;
  }

  svg {
    fill: currentColor;
  }

  ul {
    padding: 0;
    color: var(--color-lime-500);
    list-style: none;
    display: flex;
    gap: var(--size-2);
    justify-content: center;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      color: var(--color-true-gray-900);
      text-decoration: none;
      transition: color .3s var(--transition), opacity .3s var(--transition);

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 1;
        color: #000;
      }
    }
  }
}

@media(min-width: 56rem) {
  .social-links {
    h1 {
      text-align: left;
    }
  }
}
